# Gradle
.gradle/
.gradle-local/
.gradle-home/
.gradle-cache/
build/

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs and crash dumps
*.log
hs_err_pid*

# OS files
.DS_Store
Thumbs.db
